{% include '::header_service.html.twig' %}





 <div class="container-fluid">
   <div class="containerBanners">     
      <img src="{{ asset('theme/frontend/images') }}/banner-about-us.png" alt="banner-about-us" title="banner-about-us" >
 
    <!--   <div id="cleanings">
         <div class="row2">
            <div class="container">
               <div class="col-lg-12 text-center head head_c">
                  <h1>
                    gfhfgh
                  </h1>
                 
                 
               </div>
            </div>
         </div>
      </div> -->
   </div>
</div>

<div class="row">
   <div class="container">
      <div class="col-lg-12 you">
         <h2> About US
         </h2>
		
         <div class="col-lg-12 col-xs-12 text-center">
            <div class="col-lg-7 col-sm-7 col-sm-12 text-center fullWidth">
               <div class="pack termConditionLeft">
                  <h4 class="move_rad"> 1 </h4>
                  <h3> About Us:  </h3>
				   <hr>
                 <p>Flexible Movers is a Local and Nationwide Moving company established in 2006.</p>			
			<p>We started with one Transit van and team of two people and now we have a fleet of 13 vans and Trucks with a team of over 18 movers. </p>
			<p>We have helped customers moving from one area to another for the last 7 years and we are pride ourselves in offering the highest quality of moving service in London and outer London.</p>
			<p>Our Prices: We always try to be as competitive as possible and we are able to beat or match any genuine moving quote you have from other companies.</p>
			<p>Why choosing us:</p>
			<p>We have been trading as a moving company for the last 7 years and this has made us to be one of the best moving companies in the UK and this has made us to get the experience and see our customer expectation.</p>
			<p>All Our vans are fully equipped with the latest Sat Nav system to find your new house even if its a new build residential area.</p>
			<p>Our Movers are trained to meet your requirement.</p>
			<p>We are fully insured for Both Goods in Transit and Public Liability up-to £15,000</p>
               </div>
            </div>          
         </div>
      </div>
   </div>
</div>


{% include '::footer_service.html.twig' %}

<style>
.termConditionLeft{
    text-align: left !important;
	width: 100% !important;
	margin-left: 2% !important;
    margin-top: 0px !important;
}

.termConditionLeft h3{
       font-size: 28px !important;
}
.fullWidth{
      width: 100% !important;
}
.termConditionLeft hr {
    margin-top: 11px;
    margin-bottom: 0px;
}
.row5 {
    display: none;
}


.containerBanners img {
width: 100%;
height: 432px;
background-size: 100% 100%;
}



</style>