{% include '::header_service.html.twig' %}



<script type="text/javascript" src="{{ asset('theme/frontend/js') }}/nicEdit.js"></script>
		<script type="text/javascript">
			bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
		</script>
		
		
<div class="row">
	<div class="container">
		<div class="col-lg-12 you">
		
		<div id="login" style="top: 0px !important;">
			<div id="content">
			

			  <form  action="" method="post"  enctype="multipart/form-data" class="form">
				 
					
							<h2>Add Blog</h2>
							
							<label>Title :</label>
								<input type="text" name="title" id="title" class="inputFields" >
							
							<label>Sort Desc :</label>
								<input type="text" name="sortDesc" id="sortDesc" class="inputFields">
							
							<label>Blog Image :</label>
								<input type="file" name="blogImage" id="blogImage" class="inputFields">
							
							
							<label>Full desc :</label>
								
								<textarea name="area1" cols="50" rows="9" class="inputFields"></textarea>

										
							<input type="submit" name="submit"  value="Add Blog"  class="btn btn-default widthSet">
							
				
				</form>
				</div>	
			</div>
		
		
      </div>
   </div>
</div> 




	
		

	
			
		
	
	
	
{% include '::footer_service.html.twig' %}
 
