
  <script src="http://code.jquery.com/jquery-2.1.1.js"></script>

   
  <input type="text" name="cityName" id="cityName" placeholder="city Name"  onkeyup="serviceSearch();">
  
  <div id="getCityResult"> </div>
  
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
{% include '::footer_service.html.twig' %}
