{% include '::header_service.html.twig' %}





 <div class="container-fluid">
   <div class="containerBanners">     
      <img src="{{ asset('theme/frontend/images') }}/banner-of-terms-and-coditions1.png" alt="banner-of-terms-and-coditions1" title="banner-of-terms-and-coditions1" >
 
    <!--   <div id="cleanings">
         <div class="row2">
            <div class="container">
               <div class="col-lg-12 text-center head head_c">
                  <h1>
                    gfhfgh
                  </h1>
                 
                 
               </div>
            </div>
         </div>
      </div> -->
   </div>
</div>

<div class="row">
   <div class="container">
      <div class="col-lg-12 you">
         <h2> TERMS AND CONDITIONS
         </h2>
		 <p>THE FOLLOWING TERMS AND CONDITION ARE BETWEEN YOU AS A CUSTOMER AND MOVE PLUS PART OF FLEXIBLE MOVERS LIMITED
		 </p>
         <div class="col-lg-12 col-xs-12 text-center">
            <div class="col-lg-7 col-sm-7 col-sm-12 text-center fullWidth">
               <div class="pack termConditionLeft">
                  <h4 class="move_rad"> 1 </h4>
                  <h3> PARKING:  </h3>
				   <hr>
                  <p> Providing parking is the responsibility of the customer, if there are restrictions e.g.: yellow lines, red routes, residents only etc. you must provide a permit from the local council if this is not possible , please be honest and say where the closest legal parking is available e.g.: 50 yards, 100 yards etc.... this may cost a little more but it is much better for you if we know in advance, if parking is legal try to reserve a space for the van outside before it arrives or call the local council and get a suspension or permit where necessary) if there is no parking pre -arranged any parking fines received will be the responsibility of the customer and must be paid by the customer on completion, however we will not park illegally and the driver may have to leave if legal parking is not provided.   </p>
               </div>
            </div>          
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="container">
      <div class="col-lg-12">
         <div class="col-lg-12 col-xs-12 text-center">
            <div class="col-lg-7 col-sm-7 col-sm-12 text-center fullWidth">
               <div class="pack termConditionLeft">
                  <h4 class="move_rad"> 2 </h4>
                  <h3>  POSTPONEMENT OR CANCELLATION:</h3>
				  <hr>
                  <p> If you postpone or cancel your removal up to 24 hours before the booking time, you won’t have to pay any charges. If you postpone or cancel within the 24 hours before booking time, you will be liable of paying for one hour of the service booked and for larger jobs; you will be charged the value of your deposit. We reserve the right to cancel or change dates and times.   </p>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="container">
      <div class="col-lg-12">
         <div class="col-lg-12 col-xs-12 text-center">
            <div class="col-lg-7 col-sm-7 col-sm-12 text-center fullWidth">
               <div class="pack termConditionLeft">
                  <h4 class="move_rad"> 3 </h4>
                  <h3> CONGESTION & TOLL CHARGES:  </h3>
				  <hr>
                  <p> There will be an extra charge of £8 when passing through the London Congestion Charge Zone, other congestion charge zones and tolls will be charged accordingly. (Unless otherwise stated)  </p>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="container">
      <div class="col-lg-12">
         <div class="col-lg-12 col-xs-12 text-center">
            <div class="col-lg-7 col-sm-7 col-sm-12 text-center fullWidth">
               <div class="pack termConditionLeft">
                  <h4 class="move_rad"> 4 </h4>
                  <h3> INSURANCE  </h3>
				  <hr>
                  <p> All goods are insured in the van for up to £10,000 and. We are not liable for the first £100.00 per claim.  It is the responsibility of the customer to ensure extra insurance is arranged if required.  </p>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>


<div class="row">
   <div class="container">
      <div class="col-lg-12">
         <div class="col-lg-12 col-xs-12 text-center">
            <div class="col-lg-7 col-sm-7 col-sm-12 text-center fullWidth">
               <div class="pack termConditionLeft">
                  <h4 class="move_rad"> 5 </h4>
                  <h3> ARRIVAL / DELIVERY TIMES:  </h3>
				  <hr>
                  <p> We will do our best to arrive within the time scale stated, however arrival times are estimated. Delays to pick-up/delivery times are sometimes unavoidable (due to traffic accidents, weather etc).We do not accept any responsibility for any customer loses due to unforeseen or out of our control delivery/pick-up delays.  </p>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>


<div class="row">
   <div class="container">
      <div class="col-lg-12">
         <div class="col-lg-12 col-xs-12 text-center">
            <div class="col-lg-7 col-sm-7 col-sm-12 text-center fullWidth">
               <div class="pack termConditionLeft">
                  <h4 class="move_rad"> 5 </h4>
                  <h3> YOUR PACKING RESPONSIBILITIES:  </h3>
				  <hr>
                  <p> We accept no responsibility for damage or breakage to items that have not been packed / protected by adequate means.</p>
				  <p>  It is the customers responsibility to ensure that items will fit in the new premises (e.g.: size of sofa and size of aperture) Our drivers will not be insured to remove doors or windows in such cases and it is up to the customer to organize a specialist if needed.  </p>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="container">
      <div class="col-lg-12">
         <div class="col-lg-12 col-xs-12 text-center">
            <div class="col-lg-7 col-sm-7 col-sm-12 text-center fullWidth">
               <div class="pack termConditionLeft">
                  <h4 class="move_rad"> 5 </h4>
                  <h3> STAFF ABUSE:   </h3>
				  <hr>
                  <p> Verbal or threatening behavior will not be tolerated. If the driver is forced to leave the job because of abuse from the customer verbal or otherwise the customer will still be liable to pay in full.  </p>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>


{% include '::footer_service.html.twig' %}

<style>
.termConditionLeft{
    text-align: left !important;
	width: 100% !important;
	margin-left: 2% !important;
    margin-top: 0px !important;
}

.termConditionLeft h3{
       font-size: 28px !important;
}
.fullWidth{
      width: 100% !important;
}
.termConditionLeft hr {
    margin-top: 11px;
    margin-bottom: 0px;
}
.row5 {
    display: none;
}


.containerBanners img {
width: 100%;
height: 432px;
background-size: 100% 100%;
}



</style>