	{% include '::administartor/header_administartor.html.twig' %}
 	  
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
               <!-- BEGIN SIDEBAR -->
               <div class="page-sidebar-wrapper">
			   
                   {% include '::administartor/sidebar_administartor.html.twig' %}

				 </div>
               <!-- END SIDEBAR -->
               <!-- BEGIN CONTENT -->
		
               <div class="page-content-wrapper">
                  <div class="page-content">
                 
                     <!-- BEGIN PAGE HEADER-->
                     <h3 class="page-title" style="margin-bottom: 41px;">
                        Add Page:
                     </h3>
                     <div class="page-bar">
                        <ul class="page-breadcrumb">
                           <li>
                              <i class="fa fa-home"></i>
                              <a href="{{ path('move_plus_administrator_dashboard') }}">Dashboard</a>
                              <i class="fa fa-angle-right"></i>
                           </li>
                           <li>
                              <a href="{{ path( 'move_plus_administrator_addstaticPages') }}">Add Page: </a>
                           </li>                          
                        </ul>
                      
                     </div>
                     <!-- END PAGE HEADER-->
                     <!-- BEGIN PAGE CONTENT-->
                     <div class="row">
                        <div class="col-md-12">
                           <div class="tabbable-line boxless tabbable-reversed">
                              <ul class="nav nav-tabs">
                                 <li class="active">
                                    <a href="#tab_0" data-toggle="tab">
                                    Add Service:  </a>
                                 </li>
                             </ul>
                              <div class="tab-content">
                                 <div class="tab-pane active" id="tab_0">
                                    <div class="portlet box green">
                                       <div class="portlet-title">
                                          <div class="caption">
                                             <i class="fa fa-gift"></i>Add Service
                                          </div>
                                          <div class="tools">
                                             <a href="javascript:;" class="collapse">
                                             </a>                                      
                                          </div>
                                       </div>
                                       <div class="portlet-body form">
                                          <!-- BEGIN FORM-->
                                          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                             <div class="form-body">
                                               <div class="form-group">
                                                   <label class="col-md-3 control-label">Page Title :</label>
                                                   <div class="col-md-4">
														  <input type="text" class="form-control input-circle" placeholder="Enter Your Page Title" name="title" >                                      
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label class="col-md-3 control-label">Slug(url) :</label>
                                                   <div class="col-md-4">
														  <input type="text" class="form-control input-circle" placeholder="Enter Your Slug"  name="slug"  >                                      
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label class="col-md-3 control-label">Short Description :</label>
                                                   <div class="col-md-4" style="width: 100%">
														  <textarea class="form-control input-circle description" id="descTexteditor" placeholder="Enter Short Description" name="short_description" ></textarea>
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label class="col-md-3 control-label">Description :</label>
                                                   <div class="col-md-4" style="width: 100%;">
														  <textarea class="form-control input-circle description"    placeholder="Enter Description" id="descTexteditor" name="description" ></textarea>
                                                   </div>
                                                </div>   
                                                                                             
                                                 <div class="form-group">
                                                   <label class="col-md-3 control-label">Meta Title :</label>
                                                   <div class="col-md-4">
														  <input type="text" class="form-control input-circle" placeholder="Enter Meta Title"  name="meta_title"  >                                      
                                                   </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Meta Keyword :</label>
                                                   <div class="col-md-4">
														  <textarea class="form-control input-circle" placeholder="Enter Meta metaKeyword" name="meta_keyword" style="width: 100%;"></textarea>
                                                   </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Meta Description :</label>
                                                   <div class="col-md-4">
														  <textarea class="form-control input-circle" placeholder="Enter Meta Description" name="meta_description" style="width: 100%"></textarea>
                                                   </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Page Layout :</label>
                                                   <div class="col-md-4">
														<select name="template" class="form-control input-circle">
														<option value=''>Select Template</option>
														<option value='full-width' >Full Width</option>
														<option value='left-sidebar'>Left Sidebar</option>
														<option value='right-sidebar' >Right Sidebar</option>
														<option value='left-right-sidebar' >Left Right Sidebar</option>
														</select>											    
                                                   </div>
                                                </div>
												  <div class="form-group">
                                                   <label class="col-md-3 control-label">Catagory :</label>
                                                   <div class="col-md-4" style="width: 100%;">
														<select name="catagory" class="form-control input-circle" required >
														<option value=''>Select Catagory</option>
														<option value='moving' >Moving</option>
														<option value='cleaning'>Cleaning</option>
														<option value='packing' >Packing</option>
														</select>	
                                                   </div>
                                                </div> 
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Left Side Bar HTML :</label>
                                                   <div class="col-md-4" style="width: 100%;">
														  <textarea class="form-control input-circle description"  id="descTexteditor"  placeholder="Enter Left Side Bar HTML" name="leftsidebar" ></textarea>
                                                   </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Right Side Bar HTML :</label>
                                                   <div class="col-md-4" style="width: 100%;">
														  <textarea class="form-control input-circle description"  id="descTexteditor"  placeholder="Enter Right Side Bar HTML" name="rightsidebar" ></textarea>
                                                   </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Banner Image :</label>
                                                   <div class="col-md-4">
													 <input type="file" class="form-control input-circle" name="featured_image" value="" >
                                                   </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Banner Title :</label>
                                                   <div class="col-md-4">
														  <textarea class="form-control input-circle" placeholder="Enter banner Text" name="banner_title"  id="descTextEditorNormal"  style="width: 100%;"></textarea>
                                                   </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Banner Sub Title :</label>
                                                   <div class="col-md-4">
														  <textarea class="form-control input-circle" placeholder="Enter banner Text" name="banner_sort_desc"  id="descTextEditorNormal"  style="width: 100%;"></textarea>
                                                   </div>
                                                </div>
												
												<div class="form-group">
                                                   <label class="col-md-3 control-label">How Its Work Widget:</label>
                                                   <div class="col-md-4">
												  	 <input type="checkbox"  name="howitswork_widget" class="form-control input-circle" > </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Related Services Widget:</label>
                                                   <div class="col-md-4">
												  	 <input type="checkbox"  name="relatedservices_widget" class="form-control input-circle" > </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Ready To Book Widget:</label>
                                                   <div class="col-md-4">
												  	 <input type="checkbox"  name="readytobook_widget"  class="form-control input-circle" > </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Blog Widget:</label>
                                                   <div class="col-md-4">
												  	 <input type="checkbox"  name="blog_widget"   class="form-control input-circle" > </div>
                                                </div>
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Customer Testimonial Widget:</label>
                                                   <div class="col-md-4">
												  	 <input type="checkbox"  name="customertestimonial_widget"  class="form-control input-circle" > </div>
                                                </div>
												
												
										 </div>
                                             <div class="form-actions">
                                                <div class="row">
                                                   <div class="col-md-offset-3 col-md-9">
													   <input class="btn btn-circle blue widthSetAdmin" type="submit" name="submit"  value="ADD">
														<a href="{{ path('move_plus_administrator_testimonial') }}" class="btn btn-circle default">Cancel</a>
                                                   </div>
                                                </div>
                                             </div>
                                          </form>
                                          <!-- END FORM-->
                                       </div>
                                    </div>
                                   </div>
                                </div>
                           </div>
                        </div>
                     </div>
                     <!-- END PAGE CONTENT-->
                  </div>
               </div>
   

		   <!-- END CONTENT -->
            
            </div>
            <!-- END CONTAINER -->
         
			
{% include '::administartor/footer_administartor.html.twig' %}


	  