	{% include '::administartor/header_administartor.html.twig' %}
 	     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		 
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
               <!-- BEGIN SIDEBAR -->
               <div class="page-sidebar-wrapper">
			   
                   {% include '::administartor/sidebar_administartor.html.twig' %}

				 </div>
               <!-- END SIDEBAR -->
               <!-- BEGIN CONTENT -->
		
               <div class="page-content-wrapper">
                  <div class="page-content">
                 
                     <!-- BEGIN PAGE HEADER-->
                     <h3 class="page-title" style="margin-bottom: 41px;">
                        Add Page:
                     </h3>
                     <div class="page-bar">
                        <ul class="page-breadcrumb">
                           <li>
                              <i class="fa fa-home"></i>
                              <a href="{{ path('move_plus_administrator_dashboard') }}">Dashboard</a>
                              <i class="fa fa-angle-right"></i>
                           </li>
                           <li>
                              <a href="{{ path( 'move_plus_administrator_addBanner') }}">Add Banner Image: </a>
                           </li>                          
                        </ul>
                      
                     </div>
                     <!-- END PAGE HEADER-->
                     <!-- BEGIN PAGE CONTENT-->
                     <div class="row">
                        <div class="col-md-12">
                           <div class="tabbable-line boxless tabbable-reversed">
                              <ul class="nav nav-tabs">
                                 <li class="active">
                                    <a href="#tab_0" data-toggle="tab">
                                    Add Banner Image:  </a>
                                 </li>
                             </ul>
                              <div class="tab-content">
                                 <div class="tab-pane active" id="tab_0">
                                    <div class="portlet box green">
                                       <div class="portlet-title">
                                          <div class="caption">
                                             <i class="fa fa-gift"></i>Add Banner Image
                                          </div>
                                          <div class="tools">
                                             <a href="javascript:;" class="collapse">
                                             </a>                                      
                                          </div>
                                       </div>
                                       <div class="portlet-body form">
                                          <!-- BEGIN FORM-->
                                          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                             <div class="form-body">
                                              
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Page Title :</label>
                                                   <div class="col-md-4">
														  <input type="text" class="form-control input-circle" placeholder="Enter Your Page Title" name="title" >                                      
                                                   </div>
                                                </div>                     
                                                 <div class="form-group">
                                                   <label class="col-md-3 control-label">Short Description :</label>
                                                   <div class="col-md-4">
														  <input type="text" class="form-control input-circle" placeholder="Enter Sort Desc"  name="sort_desc"  >
                                                   </div>
                                                </div>
											
												<div class="form-group">
                                                   <label class="col-md-3 control-label">Banner Image :</label>
                                                   <div class="col-md-4">
												   
													 <input type="file" class="form-control input-circle" name="slider_image" value="" >
                                                   </div>
                                                </div>
												
												
												
										 </div>
                                             <div class="form-actions">
                                                <div class="row">
                                                   <div class="col-md-offset-3 col-md-9">
													   <input class="btn btn-circle blue widthSetAdmin" type="submit" name="submit"  value="ADD">
														<a href="{{ path('move_plus_administrator_bannerPages') }}" class="btn btn-circle default">Cancel</a>
                                                   </div>
                                                </div>
                                             </div>
                                          </form>
                                          <!-- END FORM-->
                                       </div>
                                    </div>
                                   </div>
                                </div>
                           </div>
                        </div>
                     </div>
                     <!-- END PAGE CONTENT-->
                  </div>
               </div>
   

		   <!-- END CONTENT -->
            
            </div>
            <!-- END CONTAINER -->
    


{% include '::administartor/footer_administartor.html.twig' %}


	  