   <div class="navbar-collapse collapse pull-right top" id="navbar">
        <ul class="nav navbar-nav">
          <li><a href="{{ asset('service/packingBanner') }}"  title="Packing Slider">Packing Slider</a></li>
          <li><a href="{{ asset('service/movingBanner') }}"  title="Moving Slider">Moving Slider</a></li>
          <li><a href="{{ asset('service/cleaningBanner') }}"  title="Cleaning Slider">Cleaning Slider</a></li>
        </ul>
  </div>
