<div class="works">
   <h2> How it works </h2>
</div>
<div class="container_class">
   <div class="row">
      <div class="container">
         <div class="growbusiness">
            <div class="col-lg-4 col-sm-4 con">
               <div class="cleaning_outer"> <img src="{{ asset('theme/frontend/images') }}/service-decide.png" alt="Decide which service you need" title="Decide which service you need" > </div>
               <p> Decide which service you need </p>
            </div>
            <div class="col-lg-4 col-sm-4 con2" >
               <div class="cleaning1_outer"> <img src="{{ asset('theme/frontend/images') }}/fill-the-on-line-quote-and-choose-the-date.png" alt="Fill the on-line quote and choose the date" title="Fill the on-line quote and choose the date" > </div>
               <p> Fill the on-line quote and choose the date</p>
            </div>
            <div class="col-lg-4 col-sm-4 con3" > 
               <div class="cleaning2_outer"> <img src="{{ asset('theme/frontend/images') }}/get-a-quotes.png" alt="Get a quote and book, Confirmation will be sent. Pic attached." title="Get a quote and book, Confirmation will be sent. Pic attached." > </div>
               <p>Get a quote and book, Confirmation will be sent. </p>
            </div>
         </div>
      </div>
   </div> 
</div>